USE [master]
GO
/****** Object:  Database [mars_colonization_db]    Script Date: 9/6/2025 5:43:47 PM ******/
CREATE DATABASE [mars_colonization_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mars_colonization_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\mars_colonization_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'mars_colonization_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\mars_colonization_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mars_colonization_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mars_colonization_db]
GO
/****** Object:  User [user1]    Script Date: 9/6/2025 5:43:47 PM ******/
CREATE USER [user1] FOR LOGIN [user1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[colonist]    Script Date: 9/6/2025 5:43:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[colonist](
	[colonist_id] [varchar](20) NOT NULL,
	[trip_id] [varchar](20) NULL,
	[mars_colonization_id] [varchar](20) NULL,
	[first_name] [varchar](50) NULL,
	[middle_name] [varchar](50) NULL,
	[surname] [varchar](50) NULL,
	[date_of_birth] [date] NULL,
	[civil_status] [varchar](20) NULL,
	[earth_address] [varchar](255) NULL,
	[number_of_members] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[colonist_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[colonist_contact]    Script Date: 9/6/2025 5:43:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[colonist_contact](
	[colonist_id] [varchar](20) NOT NULL,
	[contact_number] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[colonist_id] ASC,
	[contact_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[colonist_house]    Script Date: 9/6/2025 5:43:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[colonist_house](
	[colonist_id] [varchar](20) NOT NULL,
	[colony_lot_number] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[colonist_id] ASC,
	[colony_lot_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[colonist_job]    Script Date: 9/6/2025 5:43:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[colonist_job](
	[colonist_id] [varchar](20) NOT NULL,
	[job_id] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[colonist_id] ASC,
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[colonist_qualification]    Script Date: 9/6/2025 5:43:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[colonist_qualification](
	[colonist_id] [varchar](20) NOT NULL,
	[qualification_name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[colonist_id] ASC,
	[qualification_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dependent]    Script Date: 9/6/2025 5:43:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dependent](
	[dependent_id] [varchar](20) NOT NULL,
	[colonist_id] [varchar](20) NULL,
	[dependent_name] [varchar](100) NULL,
	[date_of_birth] [date] NULL,
	[gender] [varchar](10) NULL,
	[colonist_relationship] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[dependent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[e_jet]    Script Date: 9/6/2025 5:43:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[e_jet](
	[jet_code] [varchar](20) NOT NULL,
	[pilot_id] [varchar](20) NULL,
	[jet_type] [varchar](50) NULL,
	[no_of_passenger_seats] [int] NULL,
	[nuclear_engine_power] [varchar](50) NULL,
	[made_year] [int] NULL,
	[jet_weight] [int] NULL,
	[power_source] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[jet_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[house]    Script Date: 9/6/2025 5:43:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[house](
	[colony_lot_number] [varchar](20) NOT NULL,
	[number_of_rooms] [int] NULL,
	[square_feet] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[colony_lot_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job]    Script Date: 9/6/2025 5:43:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job](
	[job_id] [varchar](20) NOT NULL,
	[job_name] [varchar](100) NULL,
	[job_description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pilot]    Script Date: 9/6/2025 5:43:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pilot](
	[pilot_id] [varchar](20) NOT NULL,
	[pilot_name] [varchar](100) NULL,
	[pilot_rank] [varchar](50) NULL,
	[space_hours] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[pilot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pilot_contact]    Script Date: 9/6/2025 5:43:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pilot_contact](
	[pilot_id] [varchar](20) NOT NULL,
	[contact_number] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pilot_id] ASC,
	[contact_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pilot_qualification]    Script Date: 9/6/2025 5:43:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pilot_qualification](
	[pilot_id] [varchar](20) NOT NULL,
	[qualification_name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pilot_id] ASC,
	[qualification_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trip]    Script Date: 9/6/2025 5:43:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trip](
	[trip_id] [varchar](20) NOT NULL,
	[jet_code] [varchar](20) NULL,
	[launch_date] [date] NULL,
	[return_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[trip_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[colonist]  WITH CHECK ADD FOREIGN KEY([trip_id])
REFERENCES [dbo].[trip] ([trip_id])
GO
ALTER TABLE [dbo].[colonist_contact]  WITH CHECK ADD FOREIGN KEY([colonist_id])
REFERENCES [dbo].[colonist] ([colonist_id])
GO
ALTER TABLE [dbo].[colonist_house]  WITH CHECK ADD FOREIGN KEY([colonist_id])
REFERENCES [dbo].[colonist] ([colonist_id])
GO
ALTER TABLE [dbo].[colonist_house]  WITH CHECK ADD FOREIGN KEY([colony_lot_number])
REFERENCES [dbo].[house] ([colony_lot_number])
GO
ALTER TABLE [dbo].[colonist_job]  WITH CHECK ADD FOREIGN KEY([colonist_id])
REFERENCES [dbo].[colonist] ([colonist_id])
GO
ALTER TABLE [dbo].[colonist_job]  WITH CHECK ADD FOREIGN KEY([job_id])
REFERENCES [dbo].[job] ([job_id])
GO
ALTER TABLE [dbo].[colonist_qualification]  WITH CHECK ADD FOREIGN KEY([colonist_id])
REFERENCES [dbo].[colonist] ([colonist_id])
GO
ALTER TABLE [dbo].[dependent]  WITH CHECK ADD FOREIGN KEY([colonist_id])
REFERENCES [dbo].[colonist] ([colonist_id])
GO
ALTER TABLE [dbo].[e_jet]  WITH CHECK ADD FOREIGN KEY([pilot_id])
REFERENCES [dbo].[pilot] ([pilot_id])
GO
ALTER TABLE [dbo].[pilot_contact]  WITH CHECK ADD FOREIGN KEY([pilot_id])
REFERENCES [dbo].[pilot] ([pilot_id])
GO
ALTER TABLE [dbo].[pilot_qualification]  WITH CHECK ADD FOREIGN KEY([pilot_id])
REFERENCES [dbo].[pilot] ([pilot_id])
GO
ALTER TABLE [dbo].[trip]  WITH CHECK ADD FOREIGN KEY([jet_code])
REFERENCES [dbo].[e_jet] ([jet_code])
GO
USE [master]
GO
